/*

!.gitignore
!.gitconfig

!.bashrc
!README.md

!/bin/

!/dev/
/dev/*
!/dev/.keep

!/dev/temp/
/dev/temp/*
!/dev/temp/.keep

!/dev/training/
/dev/training/*
!/dev/training/.keep

!/docker/

!/env/
/env/extra-aliases.sh

!/http/
/http/*
!/http/.keep

